<div class="container">
  <div class="logo-top">
    <%= image_tag "kiez-logo.svg", alt: "KIEZ logo", width: 35 %>
    <h2>Inbox</h2>
  </div>
  <% if @conversations.empty? %>
    <p class="d-flex justify-content-center m-3"> You Have No Messages </p>
  <% end %>
  <% @conversations.each do |conversation| %>

    <div class="w2-container">
      <div class= "card no-outline">
        <div class= "inbox-card cards mb-2">
            <div class="row align-items-start">
              <% if conversation.other_users(current_user).empty? %>
                <%= nil %>
              <% else %>
                <%= link_to  conversation_path(conversation) do  %>
                <div class="photo-and-image">
                  <% if conversation.other_users(current_user)[0].photo.attached? %>
                  <%= cl_image_tag conversation.other_users(current_user)[0].photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                  <%= image_tag "#{["user", "man", "man2", "man3", "woman", "woman2", "woman3"].sample}.jpg", class: "image-fluid profile-img", style: "object-fit: cover", alt: "user-picture", crop: :fill, gravity: :face %>
                  <% end %>
                  <h2><%= link_to conversation.other_users(current_user)[0].first_name, conversation_path(conversation), class: "m-3" %> </h2>
                </div>
                <% end %>
                <div>
                  <p> <%= link_to conversation.messages.last&.content, conversation_path(conversation) %> </p>
                </div>
              <% end  %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
