
<div class="hbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1652647522022-9ef1aaf588eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); opacity:0.655 ">
  <div class="container">
    <div class="d-flex justify-content-left" style="margin-left: 10px"><%= image_tag "kiez-logo-text-white.svg", alt: "KIEZ logo", width: 95 %></div>
    <h2>Welcome to <%= current_user.address.split(",")[0]%></h2>
  </div>
</div>

<% @building_user.each do |user| %>
  <div class= "card no-outline">
    <div class= "neighbor-card">
      <div class= "neighbor-name-photo">
        <div class="neighbor-avatar">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, class: "image-fluid profile-img", style: "object-fit: cover", alt: "user-picture", crop: :fill, gravity: :face %>
          <% else %>
          <%= image_tag "#{["user", "man", "man2", "man3", "woman", "woman2", "woman3"].sample}.jpg", class: "image-fluid profile-img", style: "object-fit: cover", alt: "user-picture", crop: :fill, gravity: :face %>
          <% end %>
        </div>
        <div class="neighbor-neighbors-name">
          <%= "#{user.first_name} #{user.last_name}" %>
        </div>

      </div>
        <div class="neighbor-message">
          <% if user != current_user %>
          <%= link_to "Message", conversations_path(user: user), data: { turbo_method: :post}, class: "btn btn-messaging"%>
          <% end %>
        </div>
    </div>
  <% end %>
 </div>
 <%# <p>this is the push branch</p> %>
