<div class="row justify-content-center mt-5">
  <div class="col-lg-4">
    <div class="container bg-card mt-2 form-login">
    <h3>New Post in Your Neighborhood</h3>
      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class= "form-inputs">
          <%= f.hidden_field :kind, value: "neighborhood" %>
          <%= f.input :title, placeholder: "Giving Away Table" %>
          <%= f.input :content, :as => :text, placeholder: "Moving and can't keep it, but its a nice table...." %>
          <%= f.input :category, as: :select, collection: Post::CATEGORY %>
          <%= f.input :duration, placeholder: "this is optional" %>
          <%= f.input :price, placeholder: "this is optional" %>
          <%= f.input :photo, as: :file %>
          <% if params[:action] == "edit" %>
              <%= f.input :solved %>
          <% end %>
        </div>

        <div class="form-actions m-3 p-2">
          <%= f.button :submit, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
