<div class="row justify-content-center mt-5">
  <div class="col-lg-4">
    <div class="container bg-card mt-2 form-login">
      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class= "form-inputs">
        <%= f.input :title, placeholder: "I can't find my package" %>
        <%= f.input :content, :as => :text, placeholder: "If anyone sees an Amazon package for me, please reach out. It was supposed to arrive on Tuesday..." %>
        <%= f.input :category, placeholder: "Packages" %>
        <%= f.input :duration, placeholder: "-" %>
        <%= f.input :price, placeholder: "-" %>
        <%= f.input :kind, as: :select, collection: Post::KINDS %>
        <%= f.input :photo, as: :file %>
        </div>

        <div class="form-actions card card-body btn m-3 p-2 card btn btn-secondary">
          <%= f.button :submit, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
