<div class="container bg-card text-left">
  <div class="justify-content-left">
  <%= image_tag "kiez-logo.svg", alt: "KIEZ logo", width: 35 %>
  </div>
  <h1> Bulletin Board </h1>
  <h2> <%= current_user.address.split(",")[0] %> </h2>
    <div>
      <%= link_to new_post_path(kind_of_post: "building"), class: "btn" do %>
      <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
      <% posts.each do |post| %>
        <div class= "card no-outline">
            <div class= "bcard card-body cards">
              <div class="row align-items-start">
                <div class="col">
                <% if post.user.photo.attached? %>
                  <%= cl_image_tag post.user.photo.key, class: "image-fluid profile-img", style: "object-fit: cover", alt: "user-picture", crop: :fill, gravity: :face %>
                <% else %>
                <%= image_tag "user.jpg", class: "image-fluid profile-img", style: "object-fit: cover", alt: "user-picture", crop: :fill, gravity: :face %>
                <% end %>
                </div>
                <div class="col">
                  <%= "#{post.user.first_name} #{post.user.last_name}" %>
                </div>
                <div class="col">
                  <% bookmark = Bookmark.find_by(user: current_user, post: post) %>
                  <i class="fa-<%= bookmark.present? ? "solid" : "regular" %> fa-bookmark"
                    data-controller="bookmark"
                    data-action="click->bookmark#change"
                    data-bookmark-id="<%= bookmark&.id  %>"
                    data-post-id="<%= post.id %>"
                    data-scrf-token="<%= form_authenticity_token %>"
                  ></i>
                </div>
              <div class="row align-items-center">
                <div class="col mt-2">
                  <%= link_to post.title, post_path(post) %>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col">
                  <%= post.content %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
