<div class="container bg-card text-center">
  <div class="card card-body h-100">
    <h2>Details for <%= post.title %></h2>
      <div class="row align-items-start">
        <div class= "col">
          <%= post.category %>
        </div>
      </div>
        <div class="row align-items-center">
          <div class= "col">
            <%= post.created_at.strftime("%m/%d/%Y") %>
          </div>
        </div>
      <div class="row">
        <div class="col align-self-center">
            <%= post.content  %>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-end">
            <%= post.duration %>
            <%= post.price %>
        </div>
      </div>
      <div class="btn btn-success"><%= link_to "edit post", edit_post_path(post) %></div>
  </div>
</div>

  <div class="card card-body h-100">
      <%# <%= cl_image_tag @post.photo.key, class: "w-100 h-100 image-fluid", style: "object-fit: cover", crop: :fill, gravity: :face%> %> %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <%= link_to "edit post", edit_post_path(post) %>
  <%= link_to "All Posts", posts_path(kind_of_post: "neighborhood") %>
