<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class= "form-inputs">
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :category %>
  <%= f.input :duration %>
  <%= f.input :price %>
  <%= f.input :hidden %>
  <%= f.input :solved %>
  <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions card card-body btn m-3 p-2 card btn btn-secondary">
    <%= f.button :submit %>
  </div>
<% end %>
